<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">工业三维模型展示系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="mr-auto navbar-nav">
      <li [hidden]="!isLoggedIn" *ngFor="let item of menu" routerLinkActive="active" class="nav-item active">
        <a class="nav-link" routerLink="{{item.link}}">{{item.title}}</a>
      </li>
      <li [hidden]="!isAdmin" routerLinkActive="active" class="nav-item active">
        <a class="nav-link" routerLink="/admin">用户管理</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <a routerLink="/signup">
        <button class="btn btn-outline-success my-2 my-sm-0 mx-2" [hidden]="isLoggedIn" routerLinkActive="active">
          注册
        </button>
      </a>
      <a routerLink="/login">
        <button class="btn btn-success my-2 my-sm-0 mx-2" [hidden]="isLoggedIn" routerLinkActive="active">
          登陆
        </button>
      </a>
      <p class="navbar-text  my-2 my-sm-0 mx-2" [hidden]="!isLoggedIn">你好，{{ currentUser.userName }}</p>
      <div class=" my-2 my-sm-0 mx-2">
        <a routerLink="/settings" [hidden]="!isLoggedIn" routerLinkActive="active">
          <i-settings></i-settings>
        </a>
      </div>
      <a (click)="logout()">
        <button class="btn btn-danger my-2 my-sm-0 mx-2" [hidden]="!isLoggedIn">
          注销
        </button>
      </a>
    </form>
  </div>
</nav>
