$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_navbar';
@import '~bootstrap/scss/_nav';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
$fa-font-path: '/assets/fonts/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

 :root {
   --input-padding-x: .75rem;
   --input-padding-y: .75rem;
 }


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


[hidden] {
  display: none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

html, body {
  height: 100%;
}

// html {
//   font-size: 1rem;
// }
// @media (min-width: 768px) {
//   html {
//     font-size: 1.25rem;
//   }
// }



@import 'admin/admin.scss';
