<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ecust.modeldisplay.mapper.ModelDetailMapper">
    <select id="getModelDetailByParam" resultType="cn.edu.ecust.modeldisplay.model.ModelDetail" parameterType="String">
        SELECT
            model_name,
            model_type,
            model_cost,
            model_height,
            model_weight,
            model_depth,
            model_width
        FROM
        TBL_MODEL_DETAIL
        WHERE
            model_name = #{name}
    </select>
</mapper>