<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ecust.modeldisplay.mapper.UserMapper">
    <select id="index" resultType="cn.edu.ecust.modeldisplay.model.User">
        SELECT
            userId,
            userEmail,
            userName,
            userPassword,
            userRole
        FROM
            TBL_USERS
        ORDER BY
            userId;
    </select>
    <insert id="register" parameterType="cn.edu.ecust.modeldisplay.model.User">
        INSERT INTO
            tbl_users
            (
                userEmail,
                userName,
                userPassword,
                userRole
            ) VALUES (
            #{user.userEmail},
            #{user.userName},
            #{user.userPassword},
            'user'
        );
    </insert>
    <select id="getUserByEmail" resultType="cn.edu.ecust.modeldisplay.model.User" parameterType="String">
        SELECT
            userId,
            userEmail,
            userName,
            userPassword,
            userRole
        FROM
            TBL_USERS
        WHERE
            userEmail = #{email};
    </select>
    <select id="getUserByUserID" resultType="cn.edu.ecust.modeldisplay.model.User" parameterType="String">
        SELECT
            userId,
            userEmail,
            userName,
            userPassword,
            userRole
        FROM
            TBL_USERS
        WHERE
            userId = #{userID};
    </select>
    <select id="getUserByUserName" resultType="cn.edu.ecust.modeldisplay.model.User" parameterType="String">
        SELECT
            userId,
            userEmail,
            userName,
            userPassword,
            userRole
        FROM
            TBL_USERS
        WHERE
            userName = #{userName};
    </select>
    <delete id="deleteUser" parameterType="String">
        DELETE from
            tbl_users
        where
            userId = #{id};
    </delete>
    <update id="changePassword" parameterType="String">
        UPDATE
            tbl_users
        SET
            userPassword = #{newPassword}
        WHERE
            userId = #{userID};
    </update>
    <update id="changeRole" parameterType="String">
        UPDATE
            tbl_users
        SET
            userRole = #{newRole}
        WHERE
            userId = #{userID};
    </update>
</mapper>